<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row d-flex justify-content-center pt-5">
  <div class="col-lg-8">
    <div class="ibox">
      <div class="ibox-title">
        <h5 class="font-weight-bold">Metas</h5>
      </div>
      <div class="ibox-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center pt-5">
  <div class="col-lg-8">
    <div class="ibox">
      <div class="ibox-title">
        <h5 class="font-weight-bold">Contexto</h5>
      </div>
      <div class="ibox-content">
        <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
        </p>
      </div>
      <div class="ibox-footer">
        <div class="text-right">
          <button type="button" class="btn btn-w-m btn-rounded btn-success">Comenzar - Cuestionario</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}