<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10 p-2">
        <h2>Inicio</h2>
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
                <a href="index.html">Metas</a>
            </li>
            <li class="breadcrumb-item">
                <a>Encuesta</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Estadisticos</strong>
            </li>
        </ol>
    </div>
</div>