{% extends 'registration/base.html' %}
{% block title %}Registrarse{% endblock %}
{% block content %}
    <div>
        <div>
            <h3 class="text-center">Bienvenido GQM</h3>
        </div>
            <p>Registro</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text">
            </div>
            <div class="form-group">
                <input type="password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">
                Registrarse
            </button>
            <a class="btn btn-sm btn-white btn-block" href="{% url 'loginn' %}">
                Iniciar sesión
            </a>
        </form>
    </div>
{% endblock %}