{% extends 'statistics/base.html' %}
{% block title %}Estadísticos{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultados</h5>

                    <a href="{% url 'results' %}">
                            <button style="background: #1BB394; color: white; border: none; width:10%; height: 100%; margin-left: 80%; border-radius:5px;">
                                    Siguiente
                                </button>
                    </a>

                    
                    
                </div>
                <div class="ibox-content">
                    <div>
                        <div id="lineChart"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
{% load static %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script>
$(document).ready(function () {
    metricas = localStorage.getItem("metricas");
    metricas = JSON.parse(metricas);
    metricas = JSON.parse(metricas);

    console.log(metricas.length);

    if(metricas.length==13){
        c3.generate({
            bindto: '#lineChart',
            data:{
                columns: [
                    ['Situacion ideal', 94, 589, 574, 590, 587, 578, 592, 578, 588, 597,578, 592, 590 ],
                    ['Situacion actual', ...metricas ]
                ],
                colors:{
                    data1: '#1ab394',
                    data2: '#BABABA'
                }
            },
            axis: {
                x:{
                    type: 'category',
                    categories: ['Productividad', 'Inversion','Retorno', 'Preparacion', 'Costos', 'Areas dom', 'Prod. Dev.', 'Certificados', 'Metodologias', 'Seguridad', 'Errores', 'Certificados', 'Satisfacción']
                }
            }
        });
        }
    else{

        c3.generate({
            bindto: '#lineChart',
            data:{
                columns: [
                    ['Situacion ideal', 89, 98, 85, 78, 87, 92, 87, 96, 100 ],
                    ['Situacion actual', ...metricas ]
                ],
                colors:{
                    data1: '#1ab394',
                    data2: '#BABABA'
                }



                
            },  
            axis: {
                x:{
                    type: 'category',
                    categories: ['Necesidad', 'Licitación','Preparación', 'Madurez', 'Estándares', '#KPI', 'Procesamiento', 'Productividad', 'Satisfacción']
                }
            }
        });

    }
})
</script>
{% endblock %}